@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #292F36;
}

a {
    text-decoration: none;
    font-family: "Jost", sans-serif;
    color: #292F36;
}

p {
    font-family:"Jost", sans-serif;
    font-size:18px;
}

li {
    list-style: none;
}

h2 {
    font-family: "DM Serif Display", serif;
    font-size: 50px;
    margin-bottom: 15px;
}

h1 {
    font-family: "DM Serif Display", serif;
    font-size:85px;
}

h3 {
    font-family: "DM Serif Display", serif;
    font-size: 22px;
    margin-bottom: 15px;
}

/* proprietes flexbox */
.flex {
    display: flex;
    flex-wrap: wrap;
}

.spaceBetween {
    justify-content: space-between;
}

.alignCenter {
    align-items: center;
}

.gap20 {
    gap:20px;
}

.bold{
    font-weight: 700;
}
/*fin des proprietes flexbox*/

.container {
    max-width:1000px;
    margin-left: auto;
    margin-right: auto;
}

.btn{
    background-color: #292F36;
    color: white;
    padding-left: 31px;
    padding-right: 31px;
    padding-top: 26px;
    padding-bottom: 26px;
    display: inline-block;
    border-radius: 18px;
    margin-top: 40px;

}

.width30 {
    width: 30%;
}

.width45 {
    width: 45%;
}

.paddingTop150{
    padding-top: 150px;
}

.textCenter {
    text-align: center;
}


/* HEADER */
.logo {
    width: 200px;
}

.menu {
    width: 30%;
}

header {
    margin-top: 20px;
}

/* SECTION HERO */
.hero {
    background-image: url("asset/Banner.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 0 0 0 200px;
    padding-top: 100px;
}

.pHero {
    font-size: 22px;
    margin-top: 40px;
}

/* SECTION DEVIS */

.imageSectionDevis {
    border-radius: 0 200px 0 50px;
}


.iconAppel {
    width: 30px;
}

.pSectionDevis {
    margin-bottom: 15px;
}
